@font-face {
  font-family: 'Simpsons';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/simpsonfont.ttf') format('truetype');
}

html, body, .App, .quote-container {
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  background-color: #FED41D;
}

.quote-container {
  flex: 1;
  flex-direction: column;
  
}

.quote-main {
  align-self: center;
  margin: 0em 2em;
}

.quote-section {
  border: 10px solid white;
  border-radius: 30px;
  padding: 1em;
  display: inline-flex;
}

.author {
  display: inline-flex;
}

h2 {
  color: #F14E28;
}

#quote-text {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  align-self: center;
}

#quote-author {
  text-align: center;
  font-family: 'Simpsons';
}

.footer {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

#simpsons {
  font-family: "Simpsons";
  color: white;
  font-size: 1.25em;
}

#simpsons:hover {
  color: #F14E28;
}

.no-style {
  text-decoration: none;
}

.loading {
  text-align: center;
  font-family: "Simpsons";
  color: #F14E28;
  font-size: 2em;
}